<div class="modal fade" id="ageModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="ageModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="module-header">
                    <h5 class="modal-title module-title" id="ageModalLabel">Leeftijds controle</h5>
                </div>
                <div class="container modalContainer">
                    <div class="row">
                        <div class="col">
                            <p>
                                Hierbij geef je je leeftijd aan. Als je jonger dan 18 wordt je van de website weggeleid.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="siteLine"></div>
                <div class="input-group">
                    <input type="date" class="form-control" id="dateInput" placeholder="MM-DD-JJJJ">
                    <button id="ageCheckBTN" type="button" class="btn btn-dark btn-sm input-group-btng">Ok</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/JS/ageCheck.js"></script>