<% include ../partials/header %>

<div class="row justify-content-center">
    <h1 class="col col-md-4">
        Bestelling geplaatst!
    </h1>
</div>
<div class="row justify-content-center">
    <div class="col col-md-4">
        De bestelling word verzonden nadat de factuur is betaald.
    </div>    
</div>

<div class="row justify-content-center">
    <div class="col col-md-2">
        Factuurnr:
    </div>
    <div class="col col-md-2 justify-self-end">
        <%= order._id %>
    </div>
</div>
<% order.articles.forEach((item) => { %>
<div class="row justify-content-center">
    <div class="col col-md-2">
        <%= item.name %>
    </div>
    <div class="col col-md-1">
        <%= item.amount %>
    </div>
</div>
<% }); %>
<div class="row justify-content-center">
    <div class="col col-md-2">
        Totaal:
    </div>
    <div class="col col-md-1">
        <%= order.amount %>
    </div>
</div>


<% include ../partials/footer %>