<% include ../partials/header %>

<h1>payment page</h1>

<button id="createOrderBtn" class="btn btn-primary">Test</button>
<!-- redirect to payment provider -->
<!-- redirect to confirmation page after payment -->

<% include ../partials/footer %>