<% include ../partials/header %>

<div class="module-header">
    <h4 class="module-title">Betalen</h4>
</div>

<!-- Display order items -->
<div id="orderList"></div>

<!-- total shopping-cart -->
<div class="row">
    <div class="col col-md-6"></div>
    <div class="col col-md-3 d-flex justify-content-end">
        <strong>Totaal: </strong>
    </div>
    <div id="TotalAmount" class="col col-md-3"></div>
</div>

<form action="/bestellen/betalen/<%=orderId%>" method="post">
    <div class="row">
        <div class="col"></div>
        <div class="col-auto justify-content-end">
            <button class="btn btn-primary">Betalen</button>
        </div>
    </div>
</form>


<!-- redirect to payment provider -->
<!-- redirect to confirmation page after payment -->
<script src="/JS/shopping-cart.js"></script>
<% include ../partials/footer %>