<% include ../partials/header %>

<h1>payment page</h1>

<button id="createOrderBtn" class="btn btn-primary">Test</button>
<!-- redirect to payment provider -->
<!-- redirect to confirmation page after payment -->
<script src="/JS/paymentaddress.js"></script>
<script src="/JS/create-order.js"></script>
<% include ../partials/footer %>