
<% include ../partials/header %>

<div>
    <h1>Voeg Product Toe</h1>
    <form action="/producten/nieuw" method="POST">
        <div class="row form-group">
            <div class="col">
                <label>Naam:</label>
            </div>
            <div class="col">
                <input name="product[name]" type="text" placeholder="Whisky" required>
            </div>
        </div>
        <div class="row form-group">
            <div class="col">
                <label>Prijs:</label>
            </div>
            <div class="col">
                <input name="product[price]" type="number" placeholder="€ 0,00" min="0" step="0.1" required>
            </div>            
        </div>
        <div class="row form-group">
            <div class="col">
                <label>Leeftijd:</label>
            </div>
            <div class="col">
                <input name="product[age]" type="number" min="3" placeholder="3">
            </div>
        </div>
        <div class="row form-group">
            <div class="col">
                <label>Distillerij</label>
            </div>
            <div class="col">
                <input name="product[distillery]" type="text" placeholder="Distillerij" required>
            </div>
        </div>
        <div class="row form-group">
            <div class="col">
                <label>Pallet:</label>
            </div>
            <div class="col">
                <input name="product[pallet]" type="text" placeholder="Pallet" required>
            </div>
        </div>
        <div class="row form-group">
            <div class="col">
                <label>Land van herkomst:</label>
            </div>
            <div class="col">
                <input name="product[country]" type="text" placeholder="Land" required>
            </div>
        </div>
        <div class="row form-group">
            <div class="col">
                <label>Regio:</label>
            </div>
            <div class="col">
                <input name="product[region]" type="text" placeholder="Regio">
            </div>
        </div>
        <div class="row form-group">
            <div class="col">
                <label>Afbeelding URL:</label>
            </div>
            <div class="col">
                <input name="product[image]" type="url" placeholder="URL naar de afbeelding" required>
            </div>
        </div>
        <div class="row form-group">
            <div class="col">
                 <label>Omschrijving:</label>
            </div>
            <div class="col">
                <textarea name="product[description]" placeholder="Over het product..." required></textarea>
            </div>
        </div>
        <div class="row form-group">
            <div class="col">
                <input type="submit"  class="btn btn-primary" value="Voeg toe">
            </div>
        </div>
    </form>
</div>


<% include ../partials/footer %>