<div>
    <h2>Add Product</h2>
    <form action="/products/new" method="POST">
        <div>
            <label>Name:</label>
            <input name="product[name]" type="text" placeholder="Whiskey" required>
        </div>
        <div>
            <label>Price:</label>
            <input name="product[price]" type="number" placeholder="€0,00" min="0" required>
        </div>
        <div>
            <label>Category:</label>
            <select multiple name="category">
                <option value="Single Malt">Single Malt</option>
                <option value="Blended">Blended</option>
                <option value="Grane">Grane</option>
                <option value="Cask Strength">Cask Strength</option>
                <option value="Single Barrel">Single Barrel</option>
            </select>
        </div>
        <div>
            <label>Distillery</label>
            <input name="product[distillery]" type="text" placeholder="Distillery">
        </div>
        <div>
            <label>Pallet:</label>
            <input name="product[pallet]" type="text" placeholder="Pallet">
        </div>
        <div>
            <label>Country of origin:</label>
            <input name="product[country]" type="text" placeholder="Country">
        </div>
        <div>
            <label>Region:</label>
            <input name="product[region]" type="text" placeholder="Region">
        </div>
        <div>
            <label>Description</label>
            <textarea name="product[description]" placeholder="About the product..."></textarea>
        </div>
        <div>
            <input type="submit" value="Add Product">
        </div>
    </form>
</div>